.just-cloting-brand{
	font-family: 'Lobster', cursive;
	font-size: 28px;
}

.navbar{
	background-color: #A97D70;
}

.figure{
	width: 37.5rem;
}

.title{
	border-bottom: 2px solid #7F7F7F;
	text-transform: uppercase;
}

.img-style{
	width: 6.25rem;
}

.lead-size{
	font-size: 23px;
}

.rebote{
	-webkit-animation: 2s rebote 1;
}
@-webkit-keyframes rebote{
	20%, 50%, 70%, 90%{
		-webkit-transform: translateY(0px);
	}
	40%{
		-webkit-transform: translateY(-45px);
	}
	60%{
		-webkit-transform: translateY(-25px);
	}
	80%{
		-webkit-transform: translateY(-15px);
	}
}